/* line 2, ../../sass/state/mainnav-logo.scss */
.main.top-bar .name {
  width: 95px;
  height: 60px;
  background: url("../images/urs-logo.png") no-repeat center center;
  position: absolute;
  z-index: 500 !important;
}
