.feature-widget{
  p{
    margin-bottom: 0em;
    padding-top: .2em;
    padding-bottom: .2em;
  }
  .image-case{
    padding-bottom: .5em;
  }
  .description{
    margin-bottom: 1em;
  }
  .height-limit{
    height: 50px !important;
  }
}
.widget-back{
  margin-bottom: 1em;
}
.row.project-nav{
  margin-top: 1em !important;
}