.feature-widget{
  .row{
    .large-offset-2{
      margin-left: 17.28571%;
    }
  }
}

.image-case{
    padding-bottom: .5em;
    img{
      min-width: 219px;
    }
}
.description{
  .dark-color{
    margin-bottom: 1em;
  }
}
.project-nav{
  padding-right: 1.4em !important;
}