.feature-widget{
  p{
    margin-bottom: 0em;
    padding-top: .2em;
    padding-bottom: .2em;
  }
  .image-case{
    padding-bottom: .5em;
  }
  .description{
    margin-bottom: 1em;
  }
}
.widget-back{
  margin-bottom: 1em;
}