@import '../base/color-definition';

.job-search-module{
  //background:url('../images/tab/tab-career-big.jpg');
  .search-widget{
  }
  h2{
    font-weight: 500;
    color: $brand-blue;
    &.main{
      color:black;
    }
  }
  padding-bottom: 1em;
  &.title{
    padding-bottom: 0em !important;
  }
  h4{
    font-size: 18px;
  }
  h3{
    font-size:11px;
    margin-bottom:0em;
    a{
      color: black !important;
      opacity: .8;
    }
  }
  p{
    margin-bottom: .3em;
    font-size: 10px;
    opacity:.8;
  }
  input[type="text"]{
    width: 190px;
    height: 1.95125em;
    font-size: 0.7em;
    border: none;
    background:url('../images/search-icon-bl.png') center right no-repeat #fff;
  }
  .act{
    margin-left: 13px;
  }
  section{
    margin-left: .4em;
  }
  .small-continue.fr{
    margin-right: 5.9em;
    margin-top: -1em;
    font-weight: bold;
  }
}