.top-bar{
  .search-icon{
    background: url('../images/search-icon.png')no-repeat center center #eaa849;
    width: 27px;
    height: 27px;
  }
}
@media only screen and (min-width: 58.75em){
  .top-bar{ 
    .left{
    }
    .has-form{
      input{
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      } 
      input, .button {
        height: 25px;
        top: 5px;
        font-size: 10.5px;
      }
    }
  }
}