/* line 1, ../../sass/element/section-background.scss */
.news-home {
  background-image: url("../images/tab/tab1-bw.jpg");
}
/* line 2, ../../sass/element/section-background.scss */
.news-home .inner-wrap {
  background-image: url("../images/tab/tab1.jpg");
  transition: background-image 1s ease-in-out;
}
/* line 6, ../../sass/element/section-background.scss */
.news-home.active .inner-wrap {
  background-image: url("../images/tab/tab1-bw.jpg");
  transition: background-image 1s ease-in-out;
}

/* line 12, ../../sass/element/section-background.scss */
.feature-widget {
  background-image: url("../images/tab/tab2-bw.jpg");
}
/* line 13, ../../sass/element/section-background.scss */
.feature-widget .inner-wrap {
  background-image: url("../images/tab/tab2.jpg");
  transition: background-image 1s ease-in-out;
}
/* line 17, ../../sass/element/section-background.scss */
.feature-widget.active .inner-wrap {
  background-image: url("../images/tab/tab2-bw.jpg");
  transition: background-image 1s ease-in-out;
}

/* line 23, ../../sass/element/section-background.scss */
.job-search-module {
  background-image: url("../images/tab/tab3-bw.jpg");
}
/* line 24, ../../sass/element/section-background.scss */
.job-search-module .inner-wrap {
  background-image: url("../images/tab/tab3.jpg");
  transition: background-image 1s ease-in-out;
}
/* line 28, ../../sass/element/section-background.scss */
.job-search-module.active .inner-wrap {
  background-image: url("../images/tab/tab3-bw.jpg");
  transition: background-image 1s ease-in-out;
}
