@import 'base/color-definition';
div.news-home{
  h3{
    font-size: 14px;
    margin-bottom: 0em;
  }
  p{
    font-size: 12px;
    color: #010101;
    font-weight: 200;
    margin-bottom:.5em;
    opacity: .8;
  }
}
.news-item{
  padding-top: .75em;
  padding-bottom: .5em;
  border-left: 2px solid $brand-blue;
  border-color: rgba(33, 75, 147, .5);
}
