$lightest-text: #dedede;
$positive-color: #0d9900;

$brand-blue: #214b93;
$dark-brand-blue: #003268;

span.positive-color{
  color: $positive-color;
}

.lightest{
  color: darken($lightest-text, 25%);
}