@import 'base/color-definition';

.widget-back{
  background: $light-grey;
}
h2{
  &.section-title{
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    opacity: .9;
    line-height: 1.2em;
    &.main{
      text-transform: capitalize;
      font-size: 26px !important;
      font-weight: bold;
      margin-bottom: .8em;
      margin-top: .8em;
    }
  }
}
a{
  &.small-continue{
    font-size: 9px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3px;
    opacity: .7;
  }
  &.dark-color{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
}
