.news-home{
  background:url('../images/section-back/news-back.jpg') top center no-repeat;
}
.feature-widget{
  background:url('../images/section-back/project-back.jpg') top center no-repeat;
}
.job-search-module{
  background:url('../images/section-back/career-back.jpg') top center no-repeat;
}