.news-home{
  background:url('../images/tab/tab1.jpg') top center no-repeat;
}
.feature-widget{
  background:url('../images/tab/tab2.jpg') top center no-repeat;
}
.job-search-module{
  background:url('../images/tab/tab3.jpg') top center no-repeat;
  border-radius: 0 0 30px 0;
}