$lightest-text: #dedede;
$positive-color: #0d9900;
$light-grey: #f4f5f5;
$brand-orange: #de8f1d;
$wrapper-background: #f2f2f3;

$font-white: #fefefe;

$brand-blue: #214b93;
$dark-brand-blue: #003268;

$dark-grey: #454545;
$grey-base: #4c4c4c;

// Colors

$primary-color: $brand-blue;
$secondary-color: $brand-orange;
// $alert-color: #c60f13;
// $success-color: #5da423;

#wrapper{
  background: $wrapper-background;
}

span.positive-color{
  color: $positive-color;
}

.lightest{
  color: darken($lightest-text, 25%);
}

.bright-white{
  color: $font-white !important;
}

.dark-color{
  color: $dark-grey!important;
}