#wrapper,{
  width: 954px;
  border-left:17px solid white;
  border-right:17px solid white;
}
div.row.footer{
  width: 954px;

  }  
.fr{ float: right !important; }
.fl{ float: left !important; }
.row .row.widget{
  margin-bottom: 1em;
}