@import 'base/color-definition';
#wrapper,{
  width: 1025px;
  border-left:50px solid $wrapper-background;
  border-right:50px solid $wrapper-background;
}
div.row.footer{
  width: 1025px;
  border-left:50px solid $wrapper-background;
  border-right:50px solid $wrapper-background;
  }  
.fr{ float: right !important; }
.fl{ float: left !important; }
.row .row.widget{
  margin-bottom: 1em;
}