@import '../base/color-definition';
.hero-slider{
  li{
    padding: 1.3em 1.25em;
  }
}
.hero-content{
  -webkit-transition: background 1s !important;
  &:hover{
    -webkit-transition: background .02s !important;
  }
  h3, p{
    -webkit-transition: opacity 1s ease !important;
    color: $font-white;
    opacity: 0;
    &:hover{
      -webkit-transition: opacity .02s ease !important;
    }
  }
  p{
    text-transform: uppercase;
    font-weight: 600;
  }
  &:hover{
    background: $brand-orange !important;
    h3, p{
      opacity: 1;
    }
  }
}