@import '../base/color-definition';
nav.main.top-bar{
  height: 62px !important;
  margin-bottom: 15px;
  ul.right{
    a{
      text-transform: uppercase;
      font-size: 14px;
    }
    li a:not(.button) {
      padding: 24px 25.66667px 2px;
      &:hover{
        background: darken($dark-brand-blue, 5%);
      }
    }  
  }
} 