@import '../base/color-definition';
nav.main.top-bar{
  background: $dark-brand-blue;
  ul.right{
    
    li{
    }
    a{
      background: $dark-brand-blue;
      text-transform: uppercase;
      font-weight: bold;
    }  
  }
} 