/* line 21, ../../sass/base/color-definition.scss */
#wrapper {
  background: white;
}

/* line 25, ../../sass/base/color-definition.scss */
span.positive-color {
  color: #0d9900;
}

/* line 29, ../../sass/base/color-definition.scss */
.lightest {
  color: #9e9e9e;
}

/* line 33, ../../sass/base/color-definition.scss */
.bright-white {
  color: #fefefe !important;
}
/* line 35, ../../sass/base/color-definition.scss */
.bright-white:hover {
  color: #214b93 !important;
}

/* line 40, ../../sass/base/color-definition.scss */
.dark-color {
  color: #454545 !important;
}

/* line 3, ../../sass/state/hero-images.scss */
.hero-slider li {
  padding: 1.3em 1.25em;
}

/* line 7, ../../sass/state/hero-images.scss */
.hero-content {
  -webkit-transition: background 1s !important;
}
/* line 9, ../../sass/state/hero-images.scss */
.hero-content:hover {
  -webkit-transition: background .02s !important;
}
/* line 12, ../../sass/state/hero-images.scss */
.hero-content h3, .hero-content p {
  -webkit-transition: opacity 1s ease !important;
  color: #fefefe;
  opacity: 0;
}
/* line 16, ../../sass/state/hero-images.scss */
.hero-content h3:hover, .hero-content p:hover {
  -webkit-transition: opacity .02s ease !important;
}
/* line 20, ../../sass/state/hero-images.scss */
.hero-content p {
  text-transform: uppercase;
  font-weight: 600;
}
/* line 24, ../../sass/state/hero-images.scss */
.hero-content:hover {
  background: #de8f1d !important;
}
/* line 26, ../../sass/state/hero-images.scss */
.hero-content:hover h3, .hero-content:hover p {
  opacity: 1;
}
