/* line 21, ../../sass/base/color-definition.scss */
#wrapper {
  background: white;
}

/* line 25, ../../sass/base/color-definition.scss */
span.positive-color {
  color: #0d9900;
}

/* line 29, ../../sass/base/color-definition.scss */
.lightest {
  color: #9e9e9e;
}

/* line 33, ../../sass/base/color-definition.scss */
.bright-white {
  color: #fefefe !important;
}

/* line 37, ../../sass/base/color-definition.scss */
.dark-color {
  color: #454545 !important;
}

/* line 3, ../../sass/state/hero-images.scss */
.hero-content {
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  -webkit-transition: background .1s fade  !important;
}
/* line 8, ../../sass/state/hero-images.scss */
.hero-content:hover {
  -webkit-transition: box-shadow 0.5s linear;
  -moz-transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  -webkit-transition: background 12s ease-in-out !important;
}
/* line 14, ../../sass/state/hero-images.scss */
.hero-content h3, .hero-content p {
  -webkit-transition: opacity .01s  ease-in-out !important;
  color: #fefefe;
  opacity: 0;
}
/* line 18, ../../sass/state/hero-images.scss */
.hero-content h3:hover, .hero-content p:hover {
  -webkit-transition: opacity 1.2s ease-in-out !important;
}
/* line 22, ../../sass/state/hero-images.scss */
.hero-content h3 {
  font-weight: 600;
  font-size: 24px;
}
/* line 26, ../../sass/state/hero-images.scss */
.hero-content p {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
}
/* line 32, ../../sass/state/hero-images.scss */
.hero-content:hover {
  box-shadow: inset 1000px 10000px 1000px rgba(222, 143, 29, 0.9);
}
/* line 34, ../../sass/state/hero-images.scss */
.hero-content:hover h3, .hero-content:hover p {
  opacity: 1;
}
/* line 38, ../../sass/state/hero-images.scss */
.hero-content.dam {
  padding-top: 4em;
}
/* line 41, ../../sass/state/hero-images.scss */
.hero-content.bridge {
  padding-top: 1.2em;
}
/* line 44, ../../sass/state/hero-images.scss */
.hero-content.roof, .hero-content.hospital {
  height: 182px !important;
  -webkit-transition: box-shadow .1s ease-in-out !important;
  transition: box-shadow .1s ease-in-out !important;
}
/* line 49, ../../sass/state/hero-images.scss */
.hero-content.roof {
  transition: box-shadow 1.1s ease-in-out;
  -webkit-transition: box-shadow 1.1s ease-in-out;
  box-shadow: inset 1000px 10000px 1000px rgba(33, 75, 147, 0);
}
/* line 54, ../../sass/state/hero-images.scss */
.hero-content.roof.inactive {
  transition: box-shadow 0.11s ease-in-out;
  -webkit-transition: box-shadow 1.1s ease-in-out;
  box-shadow: inset 1000px 10000px 1000px rgba(33, 75, 147, 0) !important;
}
/* line 58, ../../sass/state/hero-images.scss */
.hero-content.roof.inactive h3, .hero-content.roof.inactive p {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.02s ease-in-out;
  opacity: 0;
}
/* line 67, ../../sass/state/hero-images.scss */
.hero-content.roof, .hero-content.active, .hero-content.inactive:hover {
  transition: box-shadow .5s ease-in-out !important;
  -webkit-transition: box-shadow .5s ease-in-out !important;
  box-shadow: inset 1000px 1000px 1000px rgba(33, 75, 147, 0.9);
  padding-top: .65em;
}
/* line 68, ../../sass/state/hero-images.scss */
.hero-content.roof h3, .hero-content.roof p, .hero-content.active h3, .hero-content.active p, .hero-content.inactive:hover h3, .hero-content.inactive:hover p {
  opacity: 1;
  -webkit-transition: opacity .2s  ease-in-out !important;
  color: #fefefe;
}
/* line 72, ../../sass/state/hero-images.scss */
.hero-content.roof h3:hover, .hero-content.roof p:hover, .hero-content.active h3:hover, .hero-content.active p:hover, .hero-content.inactive:hover h3:hover, .hero-content.inactive:hover p:hover {
  -webkit-transition: opacity .1s ease-in-out !important;
  opacity: 0;
}
/* line 81, ../../sass/state/hero-images.scss */
.hero-content.roof:hover, .hero-content.active:hover, .hero-content.inactive:hover:hover {
  box-shadow: inset 1000px 10000px 1000px rgba(33, 75, 147, 0);
}
/* line 85, ../../sass/state/hero-images.scss */
.hero-content.roof h3, .hero-content.active h3, .hero-content.inactive:hover h3 {
  font-size: 18.5px;
}
/* line 91, ../../sass/state/hero-images.scss */
.hero-content.active:hover {
  transition: box-shadow .5s ease-in-out !important;
  -webkit-transition: box-shadow .5s ease-in-out !important;
  box-shadow: inset 1000px 1000px 1000px rgba(33, 75, 147, 0.9) !important;
}
/* line 92, ../../sass/state/hero-images.scss */
.hero-content.active:hover h3, .hero-content.active:hover p {
  opacity: 1 !important;
  -webkit-transition: opacity .2s  ease-in-out !important;
  color: #fefefe;
}
/* line 101, ../../sass/state/hero-images.scss */
.hero-content.hospital {
  padding-top: 5.5em;
}
/* line 104, ../../sass/state/hero-images.scss */
.hero-content.freeway {
  padding-top: 1em;
}
