/* line 7, ../../sass/element/color-definition.scss */
span.positive-color {
  color: #0d9900;
}

/* line 11, ../../sass/element/color-definition.scss */
.lightest {
  color: #9e9e9e;
}

/* line 2, ../../sass/state/mainnav-colors.scss */
nav.main.top-bar {
  background: #003268;
}
/* line 7, ../../sass/state/mainnav-colors.scss */
nav.main.top-bar ul.right a {
  background: #003268;
  text-transform: uppercase;
}
