/* line 4, ../../sass/state/topbar-override.scss */
nav.top-bar .left {
  overflow: hidden;
}

/* line 8, ../../sass/state/topbar-override.scss */
section.top-bar-section ul {
  background: transparent;
}

/* line 13, ../../sass/state/topbar-override.scss */
.top-bar-section .has-dropdown > a:after {
  right: 5px !important;
}
