/* line 2, ../../sass/element/blog-post.scss */
div.news-home h3 {
  font-size: 14px;
  margin-bottom: 0em;
}
/* line 6, ../../sass/element/blog-post.scss */
div.news-home p {
  font-size: 12px;
  color: #010101;
  font-weight: 200;
  margin-bottom: .5em;
  opacity: .8;
}
