/* line 22, ../../sass/base/color-definition.scss */
#wrapper {
  background: #f2f2f3;
}

/* line 26, ../../sass/base/color-definition.scss */
span.positive-color {
  color: #0d9900;
}

/* line 30, ../../sass/base/color-definition.scss */
.lightest {
  color: #9e9e9e;
}

/* line 34, ../../sass/base/color-definition.scss */
.bright-white {
  color: #fefefe !important;
}

/* line 38, ../../sass/base/color-definition.scss */
.dark-color {
  color: #454545 !important;
}

/* line 3, ../../sass/element/custom-form.scss */
.row form.custom .custom.dropdown {
  border: 1px solid #214b93;
  margin-bottom: 0em;
  height: 1.83125em;
  font-size: .7em;
  font-weight: bold;
  background: white;
}
/* line 11, ../../sass/element/custom-form.scss */
.row form.custom .custom.dropdown .current,
.row form.custom .custom.dropdown .selector {
  color: #214b93;
  line-height: 1.8;
}
/* line 17, ../../sass/element/custom-form.scss */
.row form.custom .custom.dropdown .selector {
  height: 1.83125em;
}
/* line 21, ../../sass/element/custom-form.scss */
.row input[type="text"] {
  height: 1.83125em;
  font-size: .7em;
  margin-bottom: 0em;
  line-height: 1.8;
}

/* line 28, ../../sass/element/custom-form.scss */
a.button.act {
  height: 1.83125em;
  font-size: .7em;
  margin-bottom: 0em;
  line-height: 0.7;
  text-transform: uppercase;
  border: none !important;
}
