/* line 1, ../../sass/element/section-background.scss */
.news-home {
  background: url("../images/tab/tab1.jpg") top center no-repeat;
}

/* line 4, ../../sass/element/section-background.scss */
.feature-widget {
  background: url("../images/tab/tab2.jpg") top center no-repeat;
}

/* line 7, ../../sass/element/section-background.scss */
.job-search-module {
  background: url("../images/tab/tab3.jpg") top center no-repeat;
  border-radius: 0 0 30px 0;
}
