/* line 2, ../../sass/theme/hero-slider-content.scss */
.hero-slider .dam {
  background: url("../images/hero/dam.jpg") no-repeat center top;
  height: 188px;
  max-width: 400px;
}
/* line 7, ../../sass/theme/hero-slider-content.scss */
.hero-slider .bridge {
  background: url("../images/hero/bridge.jpg") no-repeat center top;
  height: 188px;
  width: 280px;
  margin-right: 10px;
}
/* line 13, ../../sass/theme/hero-slider-content.scss */
.hero-slider .roof {
  background: url("../images/hero/roof.jpg") no-repeat center top;
  height: 192px;
  max-width: 328px;
  margin-top: 10px;
}
/* line 19, ../../sass/theme/hero-slider-content.scss */
.hero-slider .hospital {
  background: url("../images/hero/building.jpg") no-repeat center top;
  height: 192px;
  width: 360px;
  margin-top: 10px;
  margin-right: 6px;
}
/* line 26, ../../sass/theme/hero-slider-content.scss */
.hero-slider .freeway {
  background: url("../images/hero/freeway.jpg") no-repeat center top;
  height: 388px;
  max-width: 277px;
}
