/* line 1, ../../sass/base/layout.scss */
#wrapper {
  width: 920px;
}

/* line 4, ../../sass/base/layout.scss */
div.row.footer {
  width: 920px;
}

/* line 8, ../../sass/base/layout.scss */
.fr {
  float: right !important;
}

/* line 9, ../../sass/base/layout.scss */
.fl {
  float: left !important;
}

/* line 10, ../../sass/base/layout.scss */
.row .row.widget {
  margin-bottom: 1em;
}
