/* line 3, ../../sass/base/layout.scss */
.fr {
  float: right !important;
}

/* line 4, ../../sass/base/layout.scss */
.fl {
  float: left !important;
}

/* line 5, ../../sass/base/layout.scss */
.row .row.widget {
  margin-bottom: 1em;
}
